* {
    box-sizing: border-box;
    /*box calculation = content size + padding + border*/
}

html,
body {
    margin: 0;
    min-height: 100%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-header {
    min-width: 100%;
    min-height: 50px;
    padding: 8px 16px;
    background-color: #2ddf5c;
}

.main-header > div {
    display: inline-block;
}

.main-header__brand {
    vertical-align: middle;
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
}

.main-nav {
    width: calc(100% - 150px);
    display: inline-block;
    text-align: right;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
    vertical-align: middle;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    /* Same specificity as above .main-nav__item a */
    /* Order takes precedence */
    color: white;
    background-color: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    /* Same specificity as above .main-nav__item a */
    /* Order takes precedence */
    color: #ff1b68;
    background-color: white;
    border: none;
}
